.smallColumn {
  width: 100px;
}
.conversationColumn {
  width:250px;
}
.contactColumn {
  width: 600px;
}
.emailCol {
  width: 200px;
}
.midColumn {
  width:150px;
}
.xsmallColumn {
  width:50px;
}
.contactContainer {
  padding-bottom:5px;
}

.smallContainer {
  min-width:1000px;
  font-size:11px;
}
.midContainer {
  min-width:1000px;
  font-size:12px;
}
.bigScreenContainer {
  min-width:1500px;
  font-size:14px;
}
.otherUser {
  background-color: #F1A9A0;  
}
.notOperating {
  text-decoration: line-through;
}
.reportContainer {
  margin: 10px 0px;
  border: 1px;
}